:root {
    --color-background: #303841;
    --color-border: #cacfd5;
    --color-text-default: #eeeeee;
    --color-base: #47555e;
    --color-accent: #7aa5d2
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 22px;
    box-sizing: border-box;
    font-family: Lato, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lora, serif
}

body {
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s
}

a {
    background-color: transparent
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a:focus {
    text-decoration: underline
}

a:active,
a:hover {
    color: var(--color-accent);
    outline: 0;
    text-decoration: none
}

a:focus {
    outline: thin;
    outline-style: dotted;
    text-decoration: underline
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.8;
    margin: 0;
    text-rendering: optimizeLegibility
}

h1,
h2,
h3 {
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

h3 {
    font-size: 1.6875em
}

.site-description {
    font-size: 1.125em
}

p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::selection {
    background-color: var(--color-base)
}

*,
:after,
:before {
    box-sizing: inherit
}

h3 {
    clear: both
}

ul {
    padding-left: 0rem
}

ul {
    list-style: disc
}

li {
    line-height: 1.8
}

a {
    transition: opacity 110ms ease-in-out;
    color: var(--color-accent)
}

a:visited {
    color: var(--color-accent)
}

a:active,
a:hover {
    opacity: 80%;
    outline: 0;
    text-decoration: none
}

a:focus {
    outline: thin dotted;
    text-decoration: underline
}

@keyframes slide_in_right {
    100% {
        transform: translateX(0)
    }
}

@keyframes fade_in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width:768px) {
    .intro-img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important
    }

    .intro-title {
        text-align: center
    }
}

.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
    content: "";
    display: table;
    table-layout: fixed
}

.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
    clear: both
}

#page {
    width: 100%
}

.site-content {
    overflow: hidden
}

.site-header {
    padding: 1em
}

@media only screen and (min-width:768px) {
    .site-header {
        margin: 0;
        padding: 3rem 0
    }
}

@supports (object-fit:cover) {
    .site-header.featured-image .site-featured-image .post-thumbnail img {
        height: 100%;
        left: 0;
        object-fit: cover;
        top: 0;
        transform: none;
        width: 100%
    }
}

@supports (mix-blend-mode:multiply) {
    .image-filters-enabled .site-header.featured-image .site-featured-image:after {
        opacity: 1
    }
}

@supports (mix-blend-mode:overlay) {
    .image-filters-enabled .site-header.featured-image .site-branding-container:after {
        background: rgba(255, 255, 255, .35)
    }
}

.entry {
    margin-top: calc(6 * 1rem)
}

.entry:first-of-type {
    margin-top: 0
}

.entry .entry-header {
    margin: calc(3 * 1rem) 1rem 1rem;
    position: relative
}

@media only screen and (min-width:768px) {
    .entry .entry-header {
        margin: calc(3 * 1rem) calc(10% + 60px) 1rem
    }
}

@supports (mix-blend-mode:multiply) {
    .image-filters-enabled .entry .post-thumbnail .post-thumbnail-inner:after {
        display: none
    }
}

@supports (mix-blend-mode:multiply) {
    .image-filters-enabled .entry .post-thumbnail:after {
        opacity: 1
    }
}

.entry .entry-content {
    max-width: calc(100% - (2 * 1rem));
    margin: 0 1rem
}

@media only screen and (min-width:768px) {
    .entry .entry-content {
        max-width: 80%;
        margin: 0 10%;
        padding: 0 60px
    }
}

#colophon .widget-area {
    margin: calc(2 * 1rem) 1rem
}

@media only screen and (min-width:768px) {
    #colophon .widget-area {
        margin: calc(3 * 1rem) calc(10% + 60px)
    }
}

#colophon .widget-column {
    display: flex;
    flex-wrap: wrap
}

#colophon .widget-column .widget {
    width: 100%
}

@media only screen and (min-width:1168px) {
    #colophon .widget-column .widget {
        margin-right: calc(3 * 1rem);
        width: calc(50% - (3 * 1rem))
    }
}

.widget {
    margin: 0 0 1rem
}

.widget_nav_menu ul {
    padding: 0;
    list-style: none
}

.widget_nav_menu ul li {
    font-size: calc(22px * 1.125);
    font-weight: 700;
    line-height: 1.2;
    margin-top: .5rem;
    margin-bottom: .5rem
}

.entry .entry-content > * {
    margin: 32px 0;
    max-width: 100%
}

@media only screen and (min-width:768px) {
    .entry .entry-content > * {
        max-width: calc(8 * (100vw / 12) - 28px)
    }
}

@media only screen and (min-width:1168px) {
    .entry .entry-content > * {
        max-width: calc(6 * (100vw / 12) - 28px)
    }
}

@media only screen and (min-width:768px) {
    .entry .entry-content > * {
        margin: 32px 0
    }
}

.entry .entry-content > * > :first-child {
    margin-top: 0
}

.entry .entry-content > * > :last-child {
    margin-bottom: 0
}

.about {
    display: flex;
    flex-direction: row
}

.ul-none {
    list-style: none;
    margin-left: -10px
}

.fav {
    height: 50px;
    width: 50px;
    background-size: 100% auto;
    display: inline-block;
    float: left;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 7px;
    background-image: url(background.svg)
}

.fav:hover {
    opacity: .7
}

.fav-linghun {
    background-image: url(https://i.olsh.me/icon?size=80..120..200&url=mostralinghun.ml)
}

.fav-gios {
    background-image: url(https://i.olsh.me/icon?size=80..120..200&url=giosjourney.com)
}

.fav-violino {
    background-image: url(https://i.olsh.me/icon?size=80..120..200&url=leeoocca.github.io%2fviolino)
}

.fav-sb {
    background-image: url(https://i.olsh.me/icon?size=80..120..200&url=studenti.liceobagatta.it)
}

.fav-gardainvela {
    background-image: url(https://gardainvela.com/wp-content/uploads/Grafica/ancora.png)
}

.fav-rocce {
    background-image: url(https://i.olsh.me/icon?size=80..120..200&url=rocce.liceobagatta.it)
}

small {
    display: block;
    text-transform: uppercase;
    font-size: 60%;
    filter: grayscale()
}

.fav-perche_no {
    background-image: url(https://img.youtube.com/vi/jJ1RaOzwuoI/mqdefault.jpg)
}

.fav-donne {
    background-image: url(https://img.youtube.com/vi/mUymOcOqHdk/mqdefault.jpg)
}

.fav-io_valgo {
    background-image: url(https://img.youtube.com/vi/ZaB2j2bs5qM/mqdefault.jpg)
}

.fav-branco {
    background-image: url(https://i.olsh.me/icon?size=80..120..200&url=ilsitodelbranco.it)
}

body {
    background-color: var(--color-background);
    color: var(--color-text-default)
}

@media screen and (prefers-color-scheme:light) {
    body {
        background-color: #fff;
        color: #000
    }
}

span.yellow {
    color: #f9a828
}

h2::first-letter,
h3::first-letter {
    color: var(--color-accent)
}

button {
  background-color: var(--color-base);
  border: none;
  color: var(--color-text-default);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
    padding: 5px 10px;
}

button:hover {
background-color: var(--color-text-default);
  color: var(--color-base);
}
